
# Auto detect text files and perform LF normalization
* text=auto eol=lf

# Scripts
*.js            text eol=lf
*.ts            text eol=lf
*.tsx           text eol=lf
*.json          text eol=lf
*.bash          text eol=lf
*.sh            text eol=lf

# Lockfile: keep tracked, prevent line-based merges
package-lock.json -text merge=binary